{% extends 'base.html.twig' %}
{% block title %}Connexion utilisateur{% endblock %}
    
{% block body %}

    <div class="relative w-full h-48 bg-center" style="background-image: url('{{ asset('images/connexion.jpg') }}')">
        <div class="w-auto h-24 flex justify-center items-center backdrop-brightness-50">
            <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-25">
                <h2 class="text-2xl mt-4 font-bold w-fit">
                    Connexion
                </h2>
            </span>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="flex justify-center bg-slate-100 w-screen md:w-1/2">
            <div class="flex flex-col justify-center items-center bg-white shadow-md rounded md:px-3 lg:px-8 pt-6 pb-8 my-10 w-full lg:w-3/5">

                <form class="space-y-6 w-3/4" method="POST">
            
                    <div>
                        <label for="email" class="block mb-2 text-base font-medium text-black dark:text-white">Email</label>
                        <input type="email" name="email" id="email" autocomplete="current-email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="nom@newOrizon.com" required>
                    </div>
                    
                    <div>
                        <label for="password" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Mot de passe</label>
                        <div class='relative'>
                            <input type="password" name="password" id="user_password" placeholder="••••••••" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                            <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                                <i class="fa-regular fa-eye-slash" id="togglePassword" aria-hidden="true" aria-label="afficher/masquer"></i>
                            </span>
                        </div>
                    </div>
                    <button role="button" type="submit" class="w-full text-white bg-cyan-900 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Se connecter</button>
                    
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>

                <div class="connexion text-base font-medium text-gray-500 dark:text-gray-300 text-center flex flex-wrap md:flex-row mt-1">
                    <p class="mr-1">Pas encore inscrit?</p>
                    <a href="{{ path('sign-in') }}" class="text-blue-700 hover:underline dark:text-blue-500">Créez votre compte</a>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}