<div class="d-flex" style="color: orange;">

    {% for i in 0..4 %}
    
        {% if ratingStars >= i + 1 %}
            <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #ede209;"></i>
        {% elseif ratingStars >= i + 0.5 %}
            <i class="fa-regular fa-star-half-stroke drop-shadow-md fa-lg" style="color: #ede209;"></i>
        {% else %}
            <i class="fa-regular fa-star drop-shadow-lg fa-lg" style="color: #ede209;"></i>
        {% endif %}

    {% endfor %}

</div>