@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$font-size-large: 2.5em;
$font-size-medium: 2em;
$font-size-small: 1.5em;
$primary-color: #164E63;

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

main {
    min-height: calc(100vh - 164px);
}

// homepage
#home_map_mobile {
    // Mobile styles
    @media screen and (max-width: 340px) {
        div {
            margin: 0;
        }
        img {
            width: 6rem;
        }
        .presentation {
            margin-bottom: 0px;
            padding: 0 0.5rem 0.5rem;
            span {
                text-align: center;
            }
        }
        #default-carousel > div {
            margin-top: 1rem;
            margin-left: 0.8rem;
            width: 92%;
            height: 12rem;
        }
        .search {
            margin : 0 0.5rem 0;
            width: auto;
        }
        .search {
            div {
                width: 96%;
                div {
                    margin: 0 0.25rem 0;
                }
            }
        }
    }

    // Tablet styles
    @media screen and (min-width: 370px) {
        .presentation {
            padding: 1em;
            span {
                p:nth-of-type(1) {
                    font-size: $font-size-medium;
                }
                p:nth-of-type(2) {
                    font-size: $font-size-medium;
                }
                p:nth-of-type(3) {
                    font-size: $font-size-small;
                }
            }
        }
        #default-carousel {
            div {
                height: 18rem;
            }
        }
    }
    // Desktop styles
    @media screen and (min-width: 700px) {
        img {
            width: 10rem;
            margin: 2rem 0 0 2rem;
        }
        .presentation {
            margin-top: 2em;
            span {
                p:nth-of-type(1) {
                    font-size: $font-size-large;
                }
                p:nth-of-type(2) {
                    font-size: $font-size-medium;
                }
                p:nth-of-type(3) {
                    font-size: $font-size-small;
                }
            }
        }
        .search { 
            div {
                div {
                    margin: 0 0.8rem 0;
                    justify-content: space-evenly;
                }
            }
        }
        #default-carousel {
            div {
           height: 18rem;
            }
        }
        .search {
            form {
                width: 80%;
            }
        }
    }
}

// cookies
.banner {
    border: solid 2px white;
    background: $primary-color;
    position: fixed;
    z-index: 100;
    top: 3em;
    left: 0;
    width: 100%;
    color: white;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
}

.link-banner a {
    text-decoration: underline;
}
.link-banner span {
    font-weight: 600;
}

.button-banner {
    margin: 1em;
    border: solid 1px white;
    padding: 0.5em 1em;
    border-radius: 2em; 
    background: white;
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
}

// connexion
@media screen and (min-width: 1024px) and (max-width: 1410px){
    .connexion {
        font-size: 0.8rem;
    }
} 
@media screen and (max-width: 380px){
    .connexion {
        font-size: 0.8rem;
    }
} 

// legal-notice
@media screen and (max-width: 340px)
{
    #legal-notices {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 0 4em 2em;
        font-size: 0.8em;
        text-align: justify;
    }
    #legal-notices > h2 {
        font-size: $font-size-small;
    }
}

.image-position {
    background-position: center bottom;
    background-repeat: no-repeat;
}

// carousel desktop
@media screen and (min-width: 320px) and (max-width: 500px) {
    #default-carousel.desktop {
        width: 80%;
        margin: 2em 1.2em;
    }
}

